@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans' , sans-serif;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    height: 100vh;
    background: url('img/back.gif') no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card{
    width: 320px ;
    text-align: center;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.267);

}

.card-header{
    background: linear-gradient(130deg,rgba(255, 124, 124, 0.486) , rgba(128, 0, 187, 0.616));
    padding: 14px 6px;
    height: 370px;
    animation: animated-gradient 2s linear infinite;
}

.pic{
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg,rgba(255, 124, 179, 0.486) , rgb(205, 98, 255));
    margin: auto;
    border-radius: 50%;
    background-size:200% 200%;
    animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient{
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }
}

.pic img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name{
    color:rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 600;
    margin: 1px ;
}

.desc{
    font-size: 18px;
    justify-content: center;
    margin: 3px 0;

}

.tech {
    font-size: 14px;
    padding-bottom: 3px;
    font-weight: bold;
}

.sm a{
    /* color:rgba(0, 0, 0, 0.432); */
    width: 30px;
    font-size: 25px;
    transition: .1s linear;
    padding: 2px;
    margin-top: 4px;
    border-radius: 5px;
    background: linear-gradient(130deg,rgba(145, 77, 255, 0.486) , rgba(255, 0, 0, 0.315));
    animation: animated-gradient 1s linear infinite;
}

.sm a:hover{
    color: rgb(0, 0, 0);

}

.contact-btn{
    display: inline-block;
    padding: 10px 50px;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 6px;
    margin-top:20px;
    transition: .1s linear;
}

.contact-btn:hover{
    background: rgba(0, 0, 0, 0.692);
    color: rgb(255, 255, 255);
}

.card-footer{
    background: rgb(248, 184, 219);
    padding: 10px 10px;
    font-size: .9rem;
}

.audio{
    
    height: 800px;
    width: 0px;
    padding: 0px 0px;
    box-sizing: border-box;
    
}
